<% include ../partials/header %>
 
<div class="container">
    
       
               <div class="back-caret mt-4">
               <i class="fas fa-caret-right float-left ml-2 mr-1 mt-1"></i>

              <a href="/images">  חזרה לתמונות וציורים</a>
               </div>
       
               <div class="row">
               
                <div class="col-md-8 caption-full mt-4"> 
            
                <figure class="figure">
                
                <img src="<%= image.image %>" class="img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption"><%= image.content %></figcaption>
              </figure>
              
                  
                    <p class='mb-4'>
                        <em>פורסם ע״י <strong><%= image.author %></strong> <%= moment(image.createdAt).locale("he").fromNow(); %> </em>
                    </p>
                    
                </div>
            </div>
            <!-- <div class="well"> -->
                
                    <a class="btn btn-success" href="/images/<%= image._id %>/comments/new">להוספת תגובה</a>
              
                <hr>
                <div>
              
                <% image.comments.forEach(function(comment){ %>
                     <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author%></strong>
                            
                                <span class="float-right"> <em> <%= moment(comment.createdAt).locale("he").fromNow(); %> </em> </span>
                            <p class="mt-2">
                            
                                <%= comment.text%> 
                            </p>
                            <hr>
                        </div>
                      
                    </div>
                <% }) %>
                </div>
            </div>
        
    </div>


<% include ../partials/footer %>