<%- include('../partials/header', {active: "stories"}); %>



<div class="container">
    
       
            <div class="back-caret mt-4">
               <i class="fas fa-caret-right float-left ml-2 mr-1 mt-1"></i>

              <a href="/stories"> חזרה למלים לזכרו</a>
               </div>
       
         <% if(story.image){ %>
        <div class="row mt-4">
            <div class="col-sm-6">

                <img class="img-fluid" src="<%= story.image %>">
            </div>
        </div>
        <% }  %>
                
            
               
              
                    <p class='preserve-breaks my-4'><%= story.content %></p>
                    <p class='mb-4'>
                        <em>פורסם ע״י <strong><%= story.author %></strong> <%= moment(story.createdAt).locale("he").fromNow(); %> </em>
                    </p>
                    
                

            <!-- <div class="well"> -->
                
                    <a class="btn btn-success" href="/stories/<%= story._id %>/comments/new">הוסף תגובה</a>
              
                <hr>
                <div>
              
                <% story.comments.forEach(function(comment){ %>
                     <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author%></strong>
                            
                                <span class="float-right"> <em> <%= moment(comment.createdAt).locale("he").fromNow(); %> </em> </span>
                            <p class="mt-2">
                                <%= comment.text%> 
                            </p>
                            <hr>
                        </div>
                      
                    </div>
                <% }) %>
                </div>
            </div>
        
    </div>


<% include ../partials/footer %>