<% include ../partials/header %>


<div class="container">
    
       
       
       
            <div class="mt-4">
          
                <img class="smaller" src="<%= story.image %>">
                </div>
                
                <div class="caption-full"> 
            
               
              
                    <p class='my-4'><%= story.content %></p>
                    <p class='mb-4'>
                        <em>מאת: <%= story.author %></em>
                    </p>
                    
                
            </div>
            <!-- <div class="well"> -->
                
                    <a class="btn btn-success" href="/stories/<%= story._id %>/comments/new">הוסף תגובה</a>
              
                <hr>
                <div>
              
                <% story.comments.forEach(function(comment){ %>
                     <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author%></strong>
                            
                                <span class="float-right"> <%= moment(comment.createdAt).locale("he").fromNow(); %> </span>
                            <p>
                                <%= comment.text%> 
                            </p>
                            <hr>
                        </div>
                      
                    </div>
                <% }) %>
                </div>
            </div>
        
    </div>


<% include ../partials/footer %>