<% include ../partials/header %>


<div class="container">
    <div class="row">
       
       
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= story.image %>">
                <div class="caption-full">
        
              
                    <p><%= story.storyText %></p>
                    <p>
                        <em>מאת: <%= story.author %></em>
                    </p>
                    
                </div>
            </div>
            <!-- <div class="well"> -->
                
                    <a class="btn btn-success" href="/stories/<%= story._id %>/comments/new">הוסף תגובה</a>
              
                <hr>
                <div>
                <p> here go the comments </p>
                <% story.comments.forEach(function(comment){ %>
                    <!-- <div class="row">
                        <div class="col-md-12"> -->
                            <strong><%= comment.author%></strong>
                            <span class="float-right">נובמבר 26, 2018 בשעה 5:49</span>
                            <p>
                                <%= comment.text%> 
                            </p>
                            <hr>
                    
                      
                    </div>
                <% }) %>
                </div>
            </div>
        </div>
    </div>


<% include ../partials/footer %>